<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sideNav mode="side" [(opened)]="opened">
    <app-side-nav-list
      (sideNavToggleIndicator)="sideNav.close()"
    ></app-side-nav-list>
  </mat-sidenav>

  <mat-sidenav-content (click)="opened ? sideNav.close() : ''">
    <header>
      <app-toolbar (sideNavToggleIndicator)="sideNav.toggle()"></app-toolbar>
    </header>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
